body {
    // font-family: 'Krona One', sans-serif;
    font-family: 'Permanent Marker', cursive;
    background-color: $cerulean;
    background-image: url("../../static/assets/AdHocLogo.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-attachment: fixed;
    background-position: center;
    
}

